<!doctype html>
<html>
<head>
	<title>homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf8">
	<style>
		body{
			margin: 30px;
			font-size: 14px;
			font-family: Arial, sans-serif;
		}
		a{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>Welcome</h1>
	<p><h2>practice machine learning</h2></p>
	nursyahjaya ramadaniputra 1201202040
	<br>institut teknologi telkom surabaya
	<br>rekayasa perangkat lunak
	<ul>
		<li><a href="/fashionMnist">fashion_mnist</a></li>
		<li><a href="/dogAndCat">dog and cat</a></li>
	</ul>
	<p>
		hosting on <a href="https://github.com">github</a><br>
		deploy with <a href="https://heroku.com">heroku</a><br>
		fork this website in <a href="">github</a><br>
		contact me: nursyahjaya@gmail.com
	</p>
</body>
</html>